<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.url">jdbc:mysql://192.168.57.5:3306/Daljit_Kumar</property>
		<property name="connection.username">Daljit_Kumar</property>
		<property name="connection.password">Daljit_Kumar</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="show_sql">true</property>
		
		<mapping resource="com/naaptolOnlineShopping/pojo/Category.hbm.xml"/>
		<mapping resource="com/naaptolOnlineShopping/pojo/Subcategory.hbm.xml"/> 
		<mapping resource="com/naaptolOnlineShopping/pojo/ProductInfo.hbm.xml"/>
		<mapping resource="com/naaptolOnlineShopping/pojo/SellerDetails.hbm.xml"/>
		<mapping resource="com/naaptolOnlineShopping/pojo/SellerInfo.hbm.xml"/>
		<mapping resource="com/naaptolOnlineShopping/pojo/UserShoppingCart.hbm.xml"/>
		<mapping resource="com/naaptolOnlineShopping/pojo/UserInfo.hbm.xml"/>
		<mapping resource="com/naaptolOnlineShopping/pojo/UserShippingAddress.hbm.xml"/>
		<mapping resource="com/naaptolOnlineShopping/pojo/OrderDetails.hbm.xml"/>
	</session-factory>

</hibernate-configuration>


